<% layout('layouts/template') -%>

    <div class="row">
        <h1 class="text-center">Edit Campground</h1>
        <div class="col-6 offset-3">
            <form form action="/campgrounds/<%=campground._id%>?_method=PUT" method="POST">
                <!-- 这么写的原因，包括为什么直接method写put打不过去请求，是因为form只能发送get或者post的request，所以要模拟一个put或者delete或者其他的
        所以是先用到了method overide的包 -->
                <div class="mb-3">
                    <label for="title" class="form-label">Title</label>
                    <input type="text" class="form-control" id="title" name="campground[title]>"
                        value="<%=campground.title%>">
                </div>
                <div class="mb-3">
                    <label for="location" class="form-label">Location</label>
                    <input type="text" class="form-control" id="location" name="campground[location]>"
                        value="<%=campground.location%>">
                </div>
                <div class="mb-3">
                    <label for="img" class="form-label">Image Url</label>

                    <input type="text" class="form-control" id="img" name="campground[image]>"
                        value="<%=campground.image%>">
                </div>
                <div class=" mb-3">
                    <label class="form-label" for="price">Campground Price</label>
                    <div class="input-group">
                        <span class="input-group-text" id="price-label">$</span>
                        <input type="text" class="form-control" id="price" placeholder="0.00" aria-label="price"
                            aria-describedby="price-label" name="campground[price]" value="<%=campground.price%>">
                        <!-- placeholder只能是最初的灰色的背景，不能直接在上面改，能改的是value -->
                    </div>
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label">Description</label>
                    <textarea type="text" class="form-control" id="description"
                        name="campground[description]"> <%=campground.description%></textarea>
                    <!-- 这个不是value了，是放在内容里面的 -->
                </div>
                <button type="submit" class="btn btn-success">Update Campground</button>
            </form>
            <a href="/campgrounds">Back to Campgrounds</a>
        </div>
    </div>