<% layout('layouts/template') -%>
    <div class="row">
        <div class="col-6  offset-3">
            <div class="card  mb-3" style="width: 18rem;">
                <img src="<%=campground.image %>" class="card-img-top" alt="image">
                <div class="card-body">
                    <h5 class="card-title">
                        <%=campground.title %>
                    </h5>
                    <p class="card-text">
                        <%=campground.description %>
                    </p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item text-muted">
                        <%=campground.location %>
                    </li>
                    <li class="list-group-item">$<%=campground.price%>/night</li>
                </ul>
                <div class="card-body">
                    <a href="/campgrounds/<%= campground._id%>/edit" class="card-link btn btn-success">Edit</a>
                    <form action="/campgrounds/<%= campground._id%>?_method=Delete" method="POST" class="d-inline">
                        <button class="btn btn-danger" type="submit">Delete</button>
                    </form>
                    <!-- todo    他们两个谁在里谁在外？ 如何写一个delete的连接？如何知道的怎么写？-->
                    <!-- 看了答案，不是连接啊这里，这里相当于一个要提交的表格，连接只是跳转，这里虽然没有提交内容，但是是访问的别的method的页面？ -->
                </div>
                <div class="card-footer">
                    <small class="text-muted">Last updated 2 days ago</small>
                </div>

            </div>

        </div>
    </div>